<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <a routerLink="/"><img id="logo-white" src="../../assets/logo-dark.svg"/></a>
               
                
            </div>
            <div class="col-lg-4 search-holder">
                <i class="fa fa-search"></i> <input type="text" value="What would you like to learn?" />
            </div>
            <div class="col-lg-4">
                <ul class="d-flex justify-content-end">
                    <li class="px-3"><button class="btn-secondary">Log in</button></li>
                    <li><button class="btn-primary">Join for free</button></li>
                </ul>
            </div>
        </div>
    </div>
</header>
