<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header-title">
    <h2>Featured journeys</h2>

    <p class="header-body">Explore in-depth topics and guided paths, or learn how to tackle specific tasks. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At.</p>
    
</div>


<div class="row journey-wrapper">
    <ng-container >
        <div class="journey-box col col-lg-3" *ngFor="let journey of journies" [routerLink]="journey.url">
           <div class="journey-box-inner">
                <div class="logo-cta">
                    <img class="logo-icon" src="assets/seo-icon.svg" />
                    <a href="" class="new-button button btn-primary">New</a>
                </div>
                <h3>{{journey.title}}</h3> 

                <div class="journey-topics">
                    <ul>
                        <li><span></span></li>
                        <li *ngFor="let category of journey.categories; let i = index;" >
                            <ng-container *ngIf="i < 2">{{category | beautifyText}}</ng-container> 
                        </li>
                        
                    </ul> 
                </div>
                <span class="duration">{{journey.totalDuration | timeConverter }}</span> 

                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    
                 </div> 
           </div> 
           
        </div>
        
        <!--added for testing purpose-->
        <!-- <div class="journey-box col col-lg-3" *ngFor="let journey of journies" [routerLink]="journey.url">
            <div class="journey-box-inner">
                 <div class="logo-cta">
                     <img class="logo-icon" src="https://media.graphcms.com/w4C8GiY2Q1efPPkRZzc1" />
                     <a href="" class="new-button button">New</a>
                 </div>
                 <h3>{{journey.title}}</h3> 
                 <ul>
                     <li><span></span></li>
                     <li *ngFor="let category of journey.categories">{{category}}</li>
                     
                 </ul> 
                 <span class="duration">{{journey.totalDuration | timeConverter }}</span> 
                 <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    
                 </div>
            </div> 
            
         </div>
         <div class="journey-box col col-lg-3" *ngFor="let journey of journies" [routerLink]="journey.url">
            <div class="journey-box-inner">
                 <div class="logo-cta">
                     <img class="logo-icon" src="https://media.graphcms.com/w4C8GiY2Q1efPPkRZzc1" />
                     <a href="" class="new-button button">New</a>
                 </div>
                 <h3>{{journey.title}}</h3> 
                 <ul>
                     <li><span></span></li>
                     <li *ngFor="let category of journey.categories">{{category}}</li>
                     
                 </ul> 
                 <span class="duration">{{journey.totalDuration | timeConverter }}</span> 
                 <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    
                 </div>
            </div> 
            
         </div>
         <div class="journey-box col col-lg-3" *ngFor="let journey of journies" [routerLink]="journey.url">
            <div class="journey-box-inner">
                 <div class="logo-cta">
                     <img class="logo-icon" src="https://media.graphcms.com/w4C8GiY2Q1efPPkRZzc1" />
                     <a href="" class="new-button button">New</a>
                 </div>
                 <h3>{{journey.title}}</h3> 
                 <ul>
                     <li><span></span></li>
                     <li *ngFor="let category of journey.categories">{{category}}</li>
                     
                 </ul> 
                 <span class="duration">{{journey.totalDuration | timeConverter }}</span> 

                 <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    
                 </div>
            </div> 
            
         </div> -->
    </ng-container>
</div>
