<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Journey: Google Data Studio for small Businesses</a></li>
        <li>></li>
        <li class="breadcrumb-item active" aria-current="page">Search Engine Optimisation (SEO)</li>
    </ol>
</nav>

<section class="container-fluid article-page">
    <div class="row">
        <div class="col-lg-12 cover-img" [ngStyle]="{'background-image': 'url('+articleData.coverImage?.url+')' }"></div>        
    </div>
</section>

<section class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 px-5">
            <h2>{{articleData.title}}</h2>
            <p [innerHTML]="articleData.description"></p>

            <ul class="authors d-flex">
                <li class="d-flex" *ngFor="let author of articleData.authorS">                    
                    <img [src]="author.profile_image?.url" alt="">
                    <div>
                        <strong>{{author.name}}</strong>
                        <p>{{author.title}}</p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-lg-5 d-flex justify-content-center">
            <div class="topic-list-holder">
                <h3>Topics</h3>
                <ul>
                    <li class="d-flex" *ngFor="let template of articleData.templates; let i = index">
                        <a href="javascript:void(0)" (click)="scrollToSection(i)">{{i + 1}}. {{template.title}}</a><span class="duration"> {{template.duration | timeConverter}}</span>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</section>

<section class="container journey-micro-data">
    <ul class="d-flex align-items-center">
        <li>{{ articleData.topics }}</li>
        <li><i class="fa fa-circle"></i></li>
        <li>{{ articleData.templates?.length }} sections</li>
    </ul>
</section>


<ng-container *ngFor="let template of articleData.templates; let i = index;" >
    <div id="section{{i + 1}}" class="template-section" >
        <div class="template-video"  *ngIf="template.__typename == 'TemplateVideo'" > 
            <iframe [src]="trustURL(template.vimeoVideoUrl)" width="800" height="500" frameborder="0"></iframe>
        </div>
        <div class="template-cover-img"  *ngIf="template.__typename == 'TemplateFreeText'" >
            <img [src]="template.coverImage?.url" alt="">
        </div>
        <h2>{{template.title}}</h2>
        <p [innerHTML]="template.bodyContent?.html"></p>

        <ng-container *ngIf="template.__typename == 'TemplateHorizontalTab'"> 
             
                <ul class="nav nav-tabs" id="myTab" role="tablist" >
                    <li class="nav-item" *ngFor="let tab of template.tabsContent; let i = index;">
                      <button class="nav-link" [ngClass]="{'active': i == 0}" [attr.data-bs-target]="'#tab' + i"   id="tab-{{i}}" data-bs-toggle="tab"  type="button" role="tab" >{{tab.tabheadertitle}} {{i}}</button>
                    </li>
                    
                </ul>
                <div class="tab-content" id="myTabContent">
                 
                    <div *ngFor="let tab of template.tabsContent; let i = index;" class="tab-pane fade" [ngClass]="{'show active': i == 0 }" id="tab{{i}}" role="tabpanel">
                        <div [innerHTML]="tab.content?.html"></div>
                    </div>
                     
                </div> 

                
             
        </ng-container>
        
          
        <button class="btn btn-primary" (click)="scrollToSection(i + 1 )" >Continue</button> 
    </div> 
</ng-container> 