<div class="container-fluid article-page">
    <div class="container">
        <div class="cover-img"  [ngStyle]="{'background-image': 'url('+articleData.coverImage?.url+')' }" >
            <img [src]="articleData.coverImage?.url" alt="">
        </div>
        <div class="article-content row">
            <div class="col-md-6">
               <h1>{{articleData.title}}</h1>
               <p [innerHTML]="articleData.description"></p>

                <ul>
                    <li class="authers" *ngFor="let author of articleData.authorS">
                        <div class="profile-img">
                            <img [src]="author.profile_image?.url" alt="">
                        </div>
                        <div class="profile-data">
                            <strong>{{author.name}}</strong>
                            <p>{{author.title}}</p>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-md-6">
                <h3>Topics</h3>
                <ul>
                    <li *ngFor="let template of articleData.templates; let i = index">
                       {{i + 1}}. {{template.title}}  <span class="duration"> {{template.duration | timeConverter}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="article-content-summery">
            <ul>
                <li>{{ articleData.topics }}</li>
                <li>{{ articleData.templates?.length }} sections</li>
                <li>{{ articleData.templates?.length }} </li>
            </ul>
        </div> 
        <ng-container *ngFor="let template of articleData.templates; let i = index;" >
            <div id="section{{i + 1}}" class="template-section" >
                <div class="template-video"  *ngIf="template.__typename == 'TemplateVideo'" > 
                    <iframe [src]="trustURL(template.vimeoVideoUrl)" width="800" height="500" frameborder="0"></iframe>
                </div>
                <div class="template-cover-img"  *ngIf="template.__typename == 'TemplateFreeText'" >
                    <img [src]="template.coverImage?.url" alt="">
                </div>
                <h2>{{template.title}}</h2>
                <p [innerHTML]="template.bodyContent?.html"></p>
                <button class="btn btn-primary">Continue</button> 
            </div> 
        </ng-container> 
    </div>
</div>

 
 