<section>
    <div class="container">
        <div class="row justify-content-center header-banner-section">
            <div class="col-lg-6 px-5">
                <h1>Discover your path</h1> 
                <p>Whether you’re just getting started or an experienced 
                    professional, our hands-on approach helps you 
                    to build and grow your business online.
                </p>
                <button class="btn-primary">Join for free</button>
               
            </div>
            <div class="col-lg-4 justify-content-center">
                <img class="banner-image" src="assets/banner-image.png"/>
            </div>
        </div>
    </div> 
</section>