
.cover-img {
    background-color: #d5d5d5;
    text-align: center;
    img {
        height: 20rem;
    }
}

h2 {
    margin-bottom: 1rem;
}

ul.dotlist {
    li {
        font-size: 0.8rem;
        padding-right: 1.2rem;
        i {
            font-size: 0.4rem;
            line-height: 0.4rem;
            color: #5757F7;
            display: block;
        }
    }
}

.created-by {
    font-size: 0.7rem;
    padding-top: .5rem;
}

.topic-list-holder {
    border: 1px solid #171714;
    padding: 1.5rem;
    width: 15rem;
    ul {
        li {
            padding-bottom: 1rem;
            justify-content: space-between;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.section-journey-steps {
    margin-bottom: 10rem;
    .container .border-on {
        border-top: 1px dotted #171714;
        padding-top: 2rem;
    }
    
    .journey-article-list {
        ul {
            margin-top: 1.5rem;
            li {
                border-top: 1px solid #171714;
                padding: 1rem 2rem;
                cursor: pointer;
                &:last-child {
                    border-bottom: 1px solid #171714;
                }
                &:hover {
                    background-color: #F6F6FF;
                }
            }
        }
    }
}