/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

$slate-grey:        #171714;
$subhead-grey:      #7E7E7E;
$pale-grey:         #F6F6FF;
$dark-blue:         #2C2C7C;
$primary-blue:      #5757F7;
$warn:              #EF3139;
$indogo:            #2EBAC1;
$black:             #000000;
$white:             #ffffff;

body {
    font-family: 'Poppins', sans-serif;
    color: $slate-grey;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

section {
    margin-bottom: 3rem;
}

ul {
    margin: 0;
    padding: 0;
    li { 
        list-style-type: none;
    }
}

img {
    border-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Noto Serif', serif;
    color: $slate-grey; 
}

button,
input,
textarea,
select {
    font-family: 'Poppins', sans-serif;
    color: $slate-grey;
    //padding: .7rem 1rem; 
    padding: 1rem 1.2rem;
    border: 1px solid $slate-grey;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

button.btn-primary,
a.btn-primary,
button.btn-secondary,
a.secondary {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;    
    background-color: $primary-blue;
    border: 1px solid $primary-blue; 
    min-width: 6rem;
}

button.btn-secondary,
a.secondary {
    border: 1px solid $slate-grey; 
    background-color: $white;
    color: $slate-grey;
    font-size: 0.85rem;
    line-height: 0.85rem;
}

h1 {
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    &.lg {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

h4 {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: .8rem;
    line-height: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: underline;
    color: $slate-grey;
    font-size: 0.8rem;
    line-height: 1rem;
}

.header-title {
    padding: 1rem 0;
    margin: 1rem 0; 
}

p {
    font-size: .8rem;
    line-height: 1.4rem;
}

.topics {
    ul {
        li {
            margin: 0 3rem 0 0;
            &:not(:first-child) {
                &:before {
                    content: '';
                    position: absolute;
                    left: -25px;
                    width: 6px; 
                    height: 6px;
                    border-radius: 50%;
                    background-color: #5757F7;
                  }
            }
        }
    }
}

.journey-topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            &:not(:first-child) {
                &:before {
                    content: '';
                    position: absolute;
                    left: -25px;
                    width: 6px; 
                    height: 6px;
                    border-radius: 50%;
                    background-color: #5757F7;
                  }
            }
        }
    }
}

// ul {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     padding: 0;
//     margin: 0;

//     li {
//         margin: 0 1rem 0 0;
//         position: relative;
//         display: flex;
//         align-items: center;
//         justify-content: flex-end;
//         line-height: 1;
//         color: #3C3C3B;

//         span {
//             &:before {
//                 content: '';
//                 position: absolute;
//                 width: 6px; 
//                 height: 6px;
//                 border-radius: 50%;
//                 background-color: #5757F7;
//               }
//         }
//     }
// }

header {
    padding: 1.5rem 0;
    input {
        background-color: $pale-grey;
        width: 100%;
        border: 0;
    }
    .search-holder {
        position: relative;
        .fa {
            position: absolute;
            left: 1.8rem;
            top: 0.9rem;
        }
        input {
            padding-left: 2.2rem;
        }
    }
}

footer {
    background-color: $dark-blue;
    color: $white;
    padding: 2rem;
    min-height: 10rem;
}

ol.breadcrumb {
    margin-top: 0.5rem;
    li {
        padding-right: 0.5rem;
    }
}